/* Arka Plan */
.gradient-bg {
    background: linear-gradient(135deg, #3a0ca3, #7209b7);
    color: #fff;
}

/* Kart Tasarımı */
.card {
    border: none;
    border-radius: 20px;
}

.card-title {
    font-weight: bold;
}

/* Form Alanı */
.form-input {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 12px;
}

    .form-input:focus {
        border-color: #7209b7;
        box-shadow: 0 0 8px rgba(114, 9, 183, 0.3);
        outline: none;
    }

/* Buton */
.btn-custom {
    background-color: #7209b7;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

    .btn-custom:hover {
        background-color: #5e17eb;
    }

/* Link */
.link-custom {
    color: #7209b7;
    font-weight: bold;
    text-decoration: none;
}

    .link-custom:hover {
        text-decoration: underline;
    }
